/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

html,
body,
.container {
  height: 100%;
}

body {
  margin: 0;
  background: #d7d7eb;
  
}

html {
  font-family: 'Lato';
}